* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(255, 238, 218);
}

.container {
  height: 1000px;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: white;
  grid-column: 1 / -1;
  height: 200px;
}

.main {
  margin: 20px;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(auto-fit, 200px);
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
}

.card {
  color: black;
  text-align: center;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px black;
}

.title {
  font-size: 18px;
  font-weight: 900;
}

/* form {
} */

.close {
  font-size: 1.3rem;
  background-color: #f8628f;
  border: none;
  border-radius: 10px;
  color: white;
  letter-spacing: -1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
}

button {
  padding: 0.8rem 1.3rem;
  font-size: 1.3rem;
  background-color: #596d48;
  border: none;
  border-radius: 10px;
  color: white;
  letter-spacing: -1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.253);
  width: 160px;
  height: 50px;
}
