* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 1000px;
  background-color: bisque;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: white;
  grid-column: 1 / -1;
  height: 200px;
}

.main {
  margin: 20px;
  display: grid;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  width: 200px;
  height: 200px;
}
