* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(255, 238, 218);
}

.container {
  height: 1000px;
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: white;
  grid-column: 1 / -1;
  height: 200px;
}

.main {
  margin: 20px;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card {
  color: black;
  text-align: center;
  border: 1px solid grey;
  box-shadow: 2px 2px 2px black;
}

.title {
  font-size: 18px;
  font-weight: 900;
}

/* form {
} */
